* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    height: 100%;
}

/* .navbar {
    height: 80px;
  } */
.custom-main {
    background-image: url(images/background_image.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: scroll;
}

.nav-logo {
    padding-left: 5px;
}

.center-container {
    display: flex;
    justify-content: center;
}

.contact {
    background-image: url(images/background_image.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.custom-select {
    width: 80%;
}